/**
* Estilo da aplicação.
*/
.cursor-pointer{
	cursor:pointer;
}

.access-denied{
    color: #a94442;
    text-align: center;
}

.form-av-grupoquest-desc{
	font-weight: bold; 
	padding-top: 20px !important;
}

.av-msg-respondida{
	color: #31708f;
    text-align: center;
}
